<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shilei.springbootdemo.mapper.UserMapper">


    <select id="find" parameterType="int" resultType="com.shilei.springbootdemo.entity.User">
		SELECT * FROM user WHERE ID = #{id}
	</select>

	<select id="findByName" parameterType="String" resultType="com.shilei.springbootdemo.entity.User">
		SELECT * FROM user WHERE name = #{name}
	</select>

</mapper>
